{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <section class="content-header">
        <div class="d-flex flex-row justify-content-between align-content-center w-100">
            <div class="content-header-title">
                <div class="title">{{ page_title }}</div>
            </div>
        </div>
    </section>
    <section id="main" class="content-body">
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div id="column-chart"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Database contents
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fa fa-suitcase"></i> {{ missions }} missions with {{ mission_types }} mission types
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-eye-slash"></i> {{ hideouts }} hideouts with {{ hideout_types }} hideout types
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-trophy"></i> {{ specialities }} specialities
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-users"></i> {{ users }} users
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Status
                    </div>
                    <div id="pie-chart"></div>
                </div>
            </div>
        </div>
    </section>

    <script>
        var options = {
            series: {{ pie_chart }},
            dataLabels: {
                formatter: function (val, opts) {
                    return opts.w.config.series[opts.seriesIndex]
                },
            },
            chart: {
                width: 380,
                type: 'pie',
            },
            labels: ['In preparation', 'In progress', 'Completed', 'Failed'],
            colors: ['#6c757d', '#ffc107', '#28a745', '#dc3545'],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var optionsCol = {
            series: [{
                name: 'Count',
                data: {{ column_chart }}
            }],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '45%',
                    endingShape: 'rounded'
                },
            },
            colors: ['#0e025f'],
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            xaxis: {
                categories: ['Missions', 'Missions types', 'Hideouts', 'Hideout types', 'Specialities', 'Users'],
            },
            yaxis: {
                title: {
                    text: 'Entities'
                }
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val + " entities"
                    }
                }
            }
        };

        $(function() {
            var chartCol = new ApexCharts(document.querySelector("#column-chart"), optionsCol);
            chartCol.render();
            var chart = new ApexCharts(document.querySelector("#pie-chart"), options);
            chart.render();
        });
    </script>
{% endblock %}
